<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Course Of Study
        link(rel="stylesheet", href="/courseOfStudy.css")
        link(rel="shortcut icon", href="/pyclasfavicon.png", type="image/x-icon")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/footer.css")
    body

    main 
        nav
            div.topnav
                a(href="/") 
                    img(src="/pyclaslogo.jpg", alt="PyClasLogo", class="brand")
        
        hr
            

        div.search

            div.demo 
                button 
                    a(href="./demo/demo1") Try Our Demo Here


            strong Course of Study?

            input(type="text", name="inputBox", class="courseOfStudyText", list="courses" id="coursesList" onfocus="this.value=''" onchange="optionRedirect()") 
            datalist(id="courses" class="datalistVal")
                option(value="Aerospace Engineering")
                option(value="Agricultural Engineering")
                option(value="Chemical Engineering")
                option(value="Civil Engineering")
                option(value="Computer Engineering")
                option(value="Electrical and Electronics Engineering")
                option(value="Industrial Engineering")
                option(value="Materials Engineering")
                option(value="Mechanical Engineering")
                option(value="Mining Engineering")
                option(value="Nuclear Engineering")
                option(value="Petroleum and Gas Engineering")
                option(value="Systems Engineering")
            button.courseOfStudyButton(id="go") Go

            p.left
                span(style="color:grey; margin-left: 15%") Search results for:
                |   #{textTitle}
            if res.length > 0
                table(id="customers", width="70%")
                    tr
                        th(width="200px") Job
                        th(width="400px") Description
                        th(width="400px") Applicable Areas
                        
                    each result in res
                        tr  
                            td(width="200px") #{(result.roleTitle).replace(/\b\w/g, l => l.toUpperCase())}
                            td(width="400px") #{result.roleDescription} 
                            td(width="400px" class="bullet") #{result.applicableAreas}
                         
                           

            else
                p Results for this course of study are not available. Results are only available for select engineering courses right now.
        
           
        footer
            div.footer
                ul.footerNav1
                    li &copy; 2020 PyClas 
                    li
                        a(href="./aboutUs/ ") About Us
                    li
                        a(href="./contactUs/ ") Contact Us
                    
                
            div.footerNav2
                a(href="https://twitter.com/PyClas " class="fa fa-twitter fa-10x ")

        
        script(src="/goButton2.js")
        script(src="/bullet.js")
    
        

